
<div class="page-header row">

    <h1>
        Hotels
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            {{title}}
        </small>
    </h1>

</div>
<ul class="steps">
    <li data-step="1" class="active">
        <span class="step">1</span>
        <span class="title">Hotel Details</span>
    </li>
    <li data-step="2">
        <span class="step">2</span>
        <span class="title">Additional Details</span>
    </li>
    <li data-step="3">
        <span class="step">3</span>
        <span class="title">Room Details</span>
    </li>
    <li data-step="4">
        <span class="step">4</span>
        <span class="title">Rate &amp; Availability</span>
    </li>
    <li data-step="4">
        <span class="step">5</span>
        <span class="title">Rate and Availability</span>
    </li>
</ul>
<hr />
<div class="row">
    <div class="col-xs-12">
        <div class="widget-box">
            <div class="widget-header widget-header-blue widget-header-flat">
                <h4 class="widget-title lighter">Hotel Details</h4>
            </div>

            <div class="widget-body">
                <div class="widget-main">

                    <div ui-view>

                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title green">General Information</h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-horizontal">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Name</label>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control input-sm" placeholder="Name" ng-model="HotelModel.name" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Rating</label>
                                                <div class="col-md-6">
                                                    <select class="form-control input-sm" ng-model="HotelModel.rating">
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Category</label>
                                                <div class="col-md-6">
                                                    <select class="form-control input-sm" ng-model="HotelModel.category">
                                                        <option>Select</option>

                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">User Rating</label>
                                                <div class="col-md-6">
                                                    <select class="form-control input-sm" ng-model="HotelModel.userrating">
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Hotel Chain</label>
                                                <div class="col-md-6">
                                                    <select class="form-control input-sm" ng-model="HotelModel.hotelchain">
                                                        <option>Select</option>
                                                         <option>Mariott</option>       
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Website</label>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control input-sm" placeholder="Website" ng-model="HotelModel.website" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">Description</label>
                                                <div class="col-md-10">
                                                    <textarea rows="5" class="col-sm-12" ng-model="HotelModel.description" ></textarea>                                                   
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>



                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title green">Contact Information</h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-inline">

                                    <div class="form-group col-sm-3">
                                        <label class="col-md-4 control-label">Phone</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control input-sm" placeholder="Phone" ng-model="HotelModel.ci.phonenumber"  />
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-3">
                                        <label class="col-md-4 control-label">Fax</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control input-sm" placeholder="Fax" ng-model="HotelModel.ci.fax" />
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-5">
                                        <label class="col-md-4 control-label">Email</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control input-sm" placeholder="Email" ng-model="HotelModel.ci.email" />
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>



                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title green">Locality Information</h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-horizontal">
                                    <div class="row">

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Address1</label>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control input-sm" placeholder="Address1" ng-model="HotelModel.locality.address1" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Address2</label>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control input-sm" placeholder="Address2" ng-model="HotelModel.locality.address2" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Country</label>
                                                <div class="col-md-6">
                                                     <select class="form-control input-sm"  ng-model="HotelModel.locality.country" ng-options="country.name  for country in countries">
                                                         <option value="">Select</option>
                                                        </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">State</label>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control input-sm" placeholder="State" ng-model="HotelModel.locality.state" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">City</label>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control input-sm" placeholder="City" ng-model="HotelModel.locality.city" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Zip Code</label>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control input-sm" placeholder="Zip Code" ng-model="HotelModel.locality.zipcode" />
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Geo Code</label>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control input-sm" placeholder="Latitude, Longitude">
                                                    <a class="btn btn-link form-control input-sm" ng-click="openMapView()">Show on Map</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>


                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title green">Contact Person</h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-horizontal">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Name</label>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control input-sm" placeholder="Name" ng-model="HotelModel.cp.name" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Email</label>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control input-sm" placeholder="Email" ng-model="HotelModel.cp.ci.email" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Phone</label>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control input-sm" placeholder="Phone" ng-model="HotelModel.cp.ci.phone" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Fax</label>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control input-sm" placeholder="Fax" ng-model="HotelModel.cp.ci.address" />
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title green">Facilities</h3>
                            </div>
                            <div class="panel-body">

                                <a class="btn btn-link" ng-click="openFacilityPopup()">Add New Amenity</a>
                                <div ng-if="facility.length>0" class="table-responsive">
                                    <table class="table table-bordered table-condensed">
                                        <tr class="info blue">
                                            <th>Name</th>
                                            <th>Description</th>
                                            <th>Applicable to room</th>
                                            <th>Image</th>
                                            <th></th>
                                        </tr>
                                        <tr ng-repeat="f in facility">
                                            <td>{{f.name}}</td>
                                            <td>{{f.desc}}</td>
                                            <td>
                                                <input type="checkbox" ng-model="f.roomEnable" disabled />
                                            </td>
                                            <td></td>
                                            <td><a><i class="fa fa-trash-o"></i></a></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div><hr />
                    <div class="wizard-actions">
                        <button ng-click="prevStep()" class="btn btn-prev">
                            <i class="ace-icon fa fa-arrow-left"></i>
                            Prev
                        </button>

                        <a ng-click="nextStep()" href="#newhotelstep2" class="btn btn-success btn-next" data-last="Finish">
                            Next
                            <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script id="template-facility-popup" type="text/ng-template">
    <div class="modal-header">
        <h3 class="modal-title green">New Facility</h3>
    </div>
    <div class="modal-body">

        <div class="form-group ">
            <label class=" control-label ">Amenity Name</label>

            <input type="text" class="form-control input-sm" ng-model="data.name" placeholder="Amenity Name">

        </div>
        <div class="form-group ">
            <label class="control-label ">Description</label>
            <input type="text" class="form-control input-sm" ng-model="data.desc" placeholder="Description">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="data.roomEnable"> Applicable to Room
            </label>
        </div>

        <div class="form-group">
            <label for="inputLabel3" ng-model="data.file" class="control-label">Upload Image</label>

            <input type="file" class="form-control input-sm " />
        </div>


    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>


<script id="template-mapview" type="text/ng-template">
    <div class="modal-header">
        <h3 class="modal-title green">Map View</h3>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>