<div class="page-header row">
    <div class="col-xs-6">
        <h1>
            Hotels
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
            </small>
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="table-header">
            Hotel Listing
        </div>
        <div>
            <div class="dataTables_wrapper form-inline no-footer">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="dataTables_length">
                            <label>
                                Display
                                <select class="form-control input-sm">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select> records
                            </label>
                        </div>
                    </div><div class="col-xs-6">
                        <div class="dataTables_filter" id="dynamic-table_filter">
                            <label>Search:<input placeholder="" ng-model="query" class="form-control input-sm" type="search"></label>
                        </div>
                    </div>
                </div>
                <table role="grid" class="table table-striped table-bordered table-hover dataTable no-footer DTTT_selectable">
                    <thead>
                        <tr role="row">
                            <th aria-label="" colspan="1" rowspan="1" class="center sorting_disabled">
                                <label class="pos-rel">
                                    <input class="vt" type="checkbox">
                                    <span class="lbl"></span>
                                </label>
                            </th>
                            <th colspan="1" rowspan="1" tabindex="0" class="sorting">Id</th>
                            <th colspan="1" rowspan="1" tabindex="0" class="sorting">Hotel Name</th>
                            <th colspan="1" rowspan="1" tabindex="0" class="hidden-480">City</th>
                            <th colspan="1" rowspan="1" tabindex="0" class="sorting">
                                <i class="vt-icon fa fa-clock-o bigger-110 hidden-480"></i>
                                Address
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-if="loading" class="center" >
                            <td colspan="7">
                                <i class="fa fa-spinner fa-pulse fa-5x"></i>
                            </td>
                        </tr>
                        <tr class="odd" role="row" ng-repeat="hotel in hotellist | filter:query | orderBy:orderProp">
                            <td class="center">
                                <label class="pos-rel">
                                    <input class="vt" type="checkbox">
                                    <span class="lbl"></span>
                                </label>
                            </td>

                            <td ng-bind="hotel.Id"></td>
                            <td ng-bind="hotel.Name"></td>
                            <td class="hidden-480" ng-bind="hotel.City"></td>
                            <td>
                                <div class="action-buttons">
                                    <a class="green" href="#">
                                        <i class="vt-icon fa fa-pencil bigger-130"></i>
                                    </a>

                                    <a class="red" href="#">
                                        <i class="vt-icon fa fa-trash-o bigger-130"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="row" ng-hide="loading">
                    <div class="col-xs-6">
                        <div class="dataTables_info">Showing {{paginginfo.countfrom}} to {{paginginfo.countto}} of {{paginginfo.totalrecords}} entries</div>
                    </div>
                    <div class="col-xs-6">
                        <div class="dataTables_paginate paging_simple_numbers">
                            <ul class="pagination">
                                <li tabindex="0" class="paginate_button previous">
                                    <a href="#">Previous</a>
                                </li>
                                <li tabindex="0" class="">
                                    <span> {{currentPage}} of {{totalPage}}</span>
                                </li>
                                <li id="dynamic-table_next" tabindex="0" class="paginate_button next">
                                    <a href="#">Next</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>